<!-- Estilo del pie de página -->
.footer {
  width: 100;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
<!-- Estilo del listado de contactos -->
.contact-info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
<!-- Tamaño del icono de twitter -->
.twitter {
  width: 40px;
}
<!-- Tamaño del icono de linkedin -->
.linkedin {
  width: 30px;
}
<!-- Ajuste del footer al dispositivo -->
@media(min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
